.heading {
    display:flex;
}
.heading h2 {
    color: #40005d;
    background-color: #a892ee;
    box-shadow: 0 20px 23px rgba(0, 0, 0, 0.25);
    border-color: #1f1f1f;
    text-align: center;
    margin: 1rem auto;
    border-radius: 12rem;
    padding: 1rem;
}
.heading h2:hover {
    background-color: #9e87e7;
}
.heading h2 a {
    color: #40005d;
    text-decoration: none;
}
.heading h2 a:active {
    color: #40005dc4;
}